@model RankinRetro.ViewModels.HomeViewModel

﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">RankinRetro
        </h1>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
              @foreach( var item in Model.Products){ 
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <div class="card-header">
                      <p class="card-text">@item.Name</p>
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@item.ImageURL" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">@item.Description<p/>
                    <div class="btn-group">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
                        <button class="btn btn-outline-primary">View</button>
                    </a>
                    <!--Checking if the user is an admin, if they are then it will display this if statement-->
                    @if (User.IsInRole("admin") && SignInManager.IsSignedIn(User))
                    {
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">
                        <button class="btn btn-outline-warning">Edit</button>
                    </a>
                    <form asp-controller="Product" asp-action="DeleteProductHome" asp-route-id="@item.ProductId">
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                    <form method="post" action="~/Cart/AddItem">
                        <input type="hidden" name="ProductId" value="@item.ProductId" />
                        <input type="hidden" name="Quantity" value="1" />
                        <button type="submit" class="btn btn-outline-success">Add To Cart</button>
                    </form>
                    }                  
                      
                    </div>
                    
                 </div>
                </div>
              </div>
            </div>
            }
            

    
          </div>
        </div>
     </div>
</section>
