@model RankinRetro.ViewModels.HomeViewModel

﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center" style="width:1450px; justify-content:center">
    <div class="album py-5 bg-light">
        <div class="container" style="width:1450px; margin-left: 0px">
          <div class="row" style="width:1450px">
              @foreach( var item in Model.Products){
                    <div class="col-md-3" style="width:290px">
              <div class="card mb-4 box-shadow" style="width: 290px">
                <div class="card-header" style="height:630px; padding:4px">
                  <p class="card-text">@item.Name</p>
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" style="height: 430px; width: 280px; display: block;" src="@item.ImageURL" data-holder-rendered="true">
                                <div class="card-body" style="padding:0px">
                  <p class="card-text" style="height:48px; margin-top:16px;">@item.Description<p/>
                      </div>
                      <div class="card-body" style="padding:0px">
                    <div class="btn-group">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
                        <button class="btn btn-outline-primary">View</button>
                    </a>
                    <!--Checking if the user is an admin, if they are then it will display this if statement-->
                    @if (User.IsInRole("admin") && SignInManager.IsSignedIn(User))
                    {
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">
                        <button class="btn btn-outline-warning">Edit</button>
                    </a>
                    <form asp-controller="Product" asp-action="DeleteProductHome" asp-route-id="@item.ProductId">
                        <button class="btn btn-outline-danger">Delete</button>
                    </form>
                    <form method="post" action="~/Cart/AddItem">
                        <input type="hidden" name="ProductId" value="@item.ProductId" />
                        <input type="hidden" name="Quantity" value="1" />
                        <button type="submit" class="btn btn-outline-success"><i class="bi bi-basket"></i></button>
                    </form>
                    }                  
                      
                    </div>
                    
                 </div>
                </div>
              </div>
            </div>
            }
            

    
          </div>
        </div>
     </div>
</section>

