@using RankinRetro.ViewModels
@model SearchViewModel

﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager

<div class="container">
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <p class="card-text">@item.Name</p>
                        <img class="card-img-top" src="@item.ImageURL" alt="@item.Name">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-body">
                            <div class="btn-group">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
                                    <button class="btn btn-outline-primary">View</button>
                                </a>
                                @if (User.IsInRole("admin") && SignInManager.IsSignedIn(User))
                                {
                                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">
                                        <button class="btn btn-outline-warning">Edit</button>
                                    </a>
                                    <form asp-controller="Product" asp-action="DeleteProductHome" asp-route-id="@item.ProductId">
                                        <button class="btn btn-outline-danger">Delete</button>
                                    </form>
                                    <form method="post" action="~/Cart/AddItem">
                                        <input type="hidden" name="ProductId" value="@item.ProductId" />
                                        <input type="hidden" name="Quantity" value="1" />
                                        <button type="submit" class="btn btn-outline-success"><i class="bi bi-basket"></i></button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>