@using RankinRetro.ViewModels
@model SearchViewModel


<div class="container mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card p-3  py-4">
                <div class="row g-3 mt-2">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Enter address e.g. street, city and state or zip">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-secondary btn-block"><i class="bi bi-search "></i></button>
                    </div>
                </div>
                <div class="mt-3">
                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="advanced">
                        Advanced Search With Filters <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div class="container mt-5">
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-md-4">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle"
                                                    type="button"
                                                    id="dropdownMenuButton1"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                Select Types
                                            </button>
                                            <div class="dropdown-menu d-flex flex-wrap justify-content-center">
                                                @foreach (var type in Model.types)
                                                {
                                                    <li class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="@type.TypeId" id="type-@type.TypeId">
                                                        <label class="form-check-label" for="type-@type.TypeId">@type.Name</label>
                                                    </li>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle"
                                                    type="button"
                                                    id="dropdownMenuButton2"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                Select Brands
                                            </button>
                                            <div class="dropdown-menu d-flex flex-wrap justify-content-center">
                                                @foreach (var brand in Model.brands)
                                                {
                                                    <li class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="@brand.BrandId" id="brand-@brand.BrandId">
                                                        <label class="form-check-label" for="brand-@brand.BrandId">@brand.Name</label>
                                                    </li>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle"
                                                    type="button"
                                                    id="dropdownMenuButton3"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                Select Categories
                                            </button>
                                            <div class="dropdown-menu d-flex flex-wrap justify-content-center">
                                                @foreach (var category in Model.categories)
                                                {
                                                    <li class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="@category.CategoryId" id="category-@category.CategoryId">
                                                        <label class="form-check-label" for="category-@category.CategoryId">@category.Name</label>
                                                    </li>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .advanced {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
    }


    .btn-secondary,
    .btn-secondary:focus,
    .btn-secondary:active {
        color: #fff;
        background-color: #00838f !important;
        border-color: #00838f !important;
        box-shadow: none;
    }


    .advanced {
        color: #00838f !important;
    }

    .form-control:focus {
        box-shadow: none;
        border: 1px solid #00838f;
    }
</style>